.venv/
__pycache__/
/private/
.vscode/*
.mcp.json
.worktrees/
.pnpm-store/
node_modules/
**/node_modules/
**/dist/
**/*.tsbuildinfo
dashboard/ui.old/*
!dashboard/ui.old/.gitignore
.playwright-mcp/
pmemd*.tar.bz2
ambertools*.tar.bz2
.playwright-cli/
